<div class="current">
  {{#if camera}}
  <img class="camera" src="{{camera}}">
  {{/if}}
  <div class="basics">
    <div class="condition">
      <div class="icon"><i class="wi {{conditionIcon}}"></i></div>
      <div class="name">{{conditionName}}</div>
    </div>
    <div class="temperature">
      <span class="value">{{temperature}}&deg;</span>
    </div>
  </div>
</div>

<div class="pages-container">
</div>
