<div class="header">
  <div class="buttons">
    <div class="button-container pick-location-button">
      <div class="button">
        <i class="fa fa-map"></i>
      </div>
    </div>
    {{#if hasHome}}
    <div class="button-container go-home-button">
      <div class="button{{#if isAtHome}} disabled{{/if}}">
        <i class="fa fa-map-marker"></i>
      </div>
    </div>
    {{/if}}
  </div>
  <div class="sensors"></div>
  <div class="name">{{name}}</div>
</div>

<div class="body">
  <div class="scenes"></div>
  <div class="controls"></div>
</div>
