<div class="header">
  <div class="button pick-location-button">
    <i class="fa fa-map"></i>
  </div>
  <div class="name">{{name}}</div>
</div>

<div class="body">
  <div class="controls"></div>
</div>
