<div class="contents">
  {{#if withHeader}}
  <div class="name">{{name}}</div>
  <div class="icons">
    <div class="busy">
      <i class="fa fa-refresh fa-spin fa-fw"></i>
    </div>
    <div class="details">
      <i class="fa fa-cog"></i>
    </div>
  </div>
  {{/if}}
  <div class="control-body"></div>
</div>
