<div class="section">
  <div class="title">{{count}} device{{#if plural}}s{{/if}} are on</div>
</div>
{{#each controls}}
<div class="section control" data-id="{{id}}">
  {{#if busy}}
  <div class="busy">
    <i class="fa fa-refresh fa-spin fa-fw"></i>
  </div>
  {{else}}
  <div class="action off-button">Turn Off</div>
  {{/if}}
  {{name}}
</div>
{{/each}}
