<div class="thermostat">
  <div class="current-temperature">{{{currentTemperature}}}</div>
  <div class="current-humidity">{{{currentHumidity}}}</div>
</div>

<div class="temperature-disparity">
</div>
