<div class="persistent">
  <div class="hamburger">
    <i class="fa fa-bars"></i>
  </div>
  <div class="current-capability">{{currentCapability}}</div>
  <div class="notifications"></div>
</div>
<div class="drawer">
  <div class="shade"></div>
  <div class="body">
    <div class="header">
      <div class="app-title">Jarvis</div>
    </div>
    <div class="capabilities"></div>
    <div class="debug-icon"><i class="fa fa-bug"></i></div>
  </div>
</div>
