<div class="capabilities"></div>
<div class="clock">
  <div class="time">{{time}}</div>
  <div class="day">{{day}}</div>
</div>
<div class="notifications"></div>
<div class="debug-icon"><i class="fa fa-bug"></i></div>
