{{#if temperature}}
<span class="measurement">
  <span class="icon"><i class="wi wi-thermometer"></i></span>
  <span class="value">{{temperature}}&deg;</span>
</span>
{{/if}}
{{#if humidity}}
<span class="measurement">
  <span class="icon"><i class="fa fa-tint"></i></span>
  <span class="value">{{humidity}}%</span>
</span>
{{/if}}
