<div class="button fullHeight left quarterWidth {{#if isOff}}selected{{/if}}"
     data-command="turnOff">Off</div>
<div class="button fullHeight right quarterWidth {{#if isOn}}selected{{/if}}"
     data-command="turnOn">On</div>
<div class="fullHeight halfWidth quarterFromLeft slider">
  <div class="fill" style="width: {{brightness}}%"></div>
</div>
