<div class="fullHeight fullWidth display {{#if isOpen}}unsafe{{/if}} {{#if isClosed}}safe{{/if}}">
  {{#if isKnown}}
  {{#if isOpen}}
  Open
  {{else}}
  Closed
  {{/if}}
  {{else}}
  Unknown
  {{/if}}
</div>
