<div class="button fullHeight left quarterWidth {{#if isOff}}selected{{/if}}"
     data-speed="off">Off</div>
<div class="button fullHeight quarterFromLeft quarterWidth {{#if isLow}}selected{{/if}}"
     data-speed="low">Low</div>
<div class="button fullHeight quarterFromRight quarterWidth {{#if isMed}}selected{{/if}}"
     data-speed="med">Med</div>
<div class="button fullHeight right quarterWidth {{#if isHigh}}selected{{/if}}"
     data-speed="high">High</div>
