<span class="measurement">
  {{#if isKnown}}
  {{#if isOccupied}}
  <span class="icon"><i class="fa fa-user"></i></span>
  <span class="value">Occupied</span>
  {{else}}
  <span class="icon"><i class="fa fa-ban"></i></span>
  <span class="value">Unoccupied</span>
  {{/if}}
  {{else}}
  <span class="icon"><i class="fa fa-question-circle-o"></i></span>
  <span class="value">Occupancy Unknown</span>
  {{/if}}
</span>
