<div class="track">
  <div class="track-contents">
    <div class="trail"></div>
  </div>
  <div class="detents">
    {{#each detents}}
    <div class="detent" style="left: {{position}}%">
      <div class="label">{{label}}</div>
    </div>
    {{/each}}
  </div>
  <div class="track-contents">
    <div class="handle">
      <div class="label"></div>
    </div>
  </div>
</div>
