<div class="section">
  <div class="title">
    {{title}}
  </div>
</div>
{{#each people}}
<div class="section description">
  <div class="{{#if isAway}}minor{{/if}}">
    <div class="right">{{description}}</div>
    <div class="normal-weight">{{name}}</div>
  </div>
</div>
{{/each}}

