<div id="primary">
  <div id="nav"></div>
  <div id="body"></div>
</div>
<div id="modalContainer"></div>
<div id="idle"></div>
<div id="disconnected">
  <i class="fa fa-refresh fa-spin fa-fw"></i>
  <div class="title">Disconnected</div>
  <div class="message">Trying to reconnect...</div>
</div>


